*{
margin: 0;
padding: 0;
/* width: 100%;
min-height: 100vh; */
}

body{
background-image: url("https://c.wallhere.com/photos/54/ee/black_background_pattern_light_texture-661919.jpg!d");

background-repeat: no-repeat;
background-size: cover;

display: flex;
flex-direction: column;
padding-bottom: 610px;
/* text-align: center; */
}




